* {
    box-sizing: border-box;
}

:root {
    --main-text-color: rgb(0, 1, 18);
    --subheading-grey-color: rgb(130, 143, 163);
    --main-theme-color: rgb(99, 95, 199); 
    --background-white-color: #fff;  
    --background-offwhite-color: rgb(244, 247, 253); 
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--main-text-color);
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    display: flex;
}

.nav-all-boards, .todo-title, .doing-title, .done-title {
    font-size: 12px;
    letter-spacing: 2.4px;
    color: var(--subheading-grey-color);
    text-transform: uppercase;
}



/*Nav Section*/
nav {
    border: 1px solid green;
    width: 300px;
    height: 1024px;
}

.nav-logo {
    padding: 2em;
}

.nav-all-boards {
    padding: 2em;
}

.nav-toggle {
    border: none;
    font-size: 15px;
    color: var(--background-white-color);
    width: 276px;
    height: 48px;
    background: var(--main-theme-color);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    text-align: left;
    padding-left: 3.5em;
}



/*header*/
header {
    border: 1px solid magenta;
    width: 1140px;
    height: 97px;
}

.launch-heading {
    font-size: 24px;
    height: 100%;
    margin: 0;
    padding: 1em;
}



/*main section*/
.todo-title, .doing-title, .done-title {
    margin-top: 0;
}

main {
    background: var(--background-offwhite-color);
    border: 1px solid black;
    display: flex;
    gap: 20px;
    width: 1140px;
    height: 927px;
    padding: 1.5em;
}

.todo-card, .doing-card, .done-card {
    background-color: var(--background-white-color);
    border-radius: 8px;
    padding: 1em;
    width: 280px;
    height: 60px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}




/*********Media Queries*********/
@media (max-width: 375px){
    body {
        flex-direction: row;  /*How to do responsive design for outer layer?!?!?*/
    }

    main {
        flex-direction: column;
    }


}