* {
    box-sizing: border-box;
}

:root {
    --main-text-color: rgb(0, 1, 18);
    --subheading-grey-color: rgb(130, 143, 163);
    --main-theme-color: rgb(99, 95, 199); 
    --background-white-color: #fff;  
    --background-offwhite-color: rgb(244, 247, 253); 
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--main-text-color);
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.nav-all-boards, .todo-title, .doing-title, .done-title {
    font-size: 12px;
    letter-spacing: 2.4px;
    color: var(--subheading-grey-color);
    text-transform: uppercase;
}

/*Nav Section*/
.nav-toggle {
    border: none;
    font-size: 15px;
    color: var(--background-white-color);
    width: 276px;
    height: 48px;
    background: var(--main-theme-color);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

/*header*/
.launch-heading {
    font-size: 24px;
}

/*main section*/
.main-container {
    background: var(--background-offwhite-color);
}

main {
    border: 1px solid black;
    height: 1192px;
    display: flex;
    gap: 20px;
}


.todo-card, .doing-card, .done-card {
    background-color: var(--background-white-color);
    border-radius: 8px;
    padding: 1em;
    width: 280px;
    height: 60px;
    margin-bottom: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}




/*********Media Queries*********/